*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
# vendor #this might be why search is not working

# Local Netlify folder
.netlify
.tweet-cache
__pycache__

# my additions
*/.ipynb_checkpoints/*
**/*.ipynb_checkpoints/
_savedResources
.vscode

