/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
.post img { display: block; vertical-align: top; margin-left: auto; margin-right: auto; }

img.emoji { display: inline !important; vertical-align: baseline !important; }

.post figcaption { text-align: center; font-size: .8rem; font-style: italic; color: light-grey; }

.page-content { -webkit-font-smoothing: antialiased !important; text-rendering: optimizeLegibility !important; font-family: "Segoe UI", SegoeUI, Roboto, "Segoe WP", "Helvetica Neue", "Helvetica", "Tahoma", "Arial", sans-serif !important; }

.post-content p, .post-content li { font-size: 20px; color: #515151; }

.post-link { font-weight: normal; }

h1 { margin-top: 2.5rem !important; }

h2 { margin-top: 2rem !important; }

h3, h4 { margin-top: 1.5rem !important; }

p { margin-top: 1rem !important; margin-bottom: 1rem !important; }

h1, h2, h3, h4 { font-weight: normal !important; margin-bottom: 0.5rem !important; }

h1 code, h2 code, h3 code, h4 code { font-size: 100%; }

pre { margin-bottom: 1.5rem !important; }

.post-title { margin-top: .5rem !important; }

li h3, li h4 { margin-top: .05rem !important; margin-bottom: .05rem !important; }

li .post-meta-description { color: #585858; font-size: 15px; margin-top: .05rem !important; margin-bottom: .05rem !important; }

details.description[open] summary::after { content: attr(data-open); }

details.description:not([open]) summary::after { content: attr(data-close); }

.notebook-badge-image { border: 0 !important; }

.footnotes { font-size: 12px !important; }

.footnotes p, .footnotes li { font-size: 12px !important; }

.social-media-list .svg-icon { width: 25px !important; height: 23px !important; }

.anchor-link { opacity: 0; padding-left: 0.375em; \-webkit-text-stroke: 1.75px white; \-webkit-transition: opacity 0.2s ease-in-out 0.1s; \-moz-transition: opacity 0.2s ease-in-out 0.1s; \-ms-transition: opacity 0.2s ease-in-out 0.1s; }

h1:hover .anchor-link, h2:hover .anchor-link, h3:hover .anchor-link, h4:hover .anchor-link, h5:hover .anchor-link, h6:hover .anchor-link { opacity: 1; }

.category-tags { margin-top: .25rem !important; margin-bottom: .25rem !important; font-size: 105%; }

.post-meta-title, .post-meta { margin-top: .25em !important; margin-bottom: .25em !important; font-size: 105%; }

.page-description { margin-top: .5rem !important; margin-bottom: .5rem !important; color: #585858; font-size: 115%; }

.category-tags-icon { font-size: 75% !important; padding-left: 0.375em; opacity: 35%; }

.category-tags-link { color: #bb8181 !important; font-size: 13px !important; }

.js-search-results { padding-top: 0.2rem; }

.search-results-list-item { padding-bottom: 1rem; }

.search-results-list-item .search-result-title { font-size: 16px; color: #d9230f; }

.search-result-rel-url { color: silver; }

.search-results-list-item a { display: block; color: #777; }

.search-results-list-item a:hover, .search-results-list-item a:focus { text-decoration: none; }

.search-results-list-item a:hover .search-result-title { text-decoration: underline; }

.search-result-rel-date { color: #6d788a; font-size: 14px; }

.search-result-preview { color: #777; font-size: 16px; margin-top: .02rem !important; margin-bottom: .02rem !important; }

.search-result-highlight { color: #2e0137; font-weight: bold; }

table { white-space: normal; max-width: 100%; font-size: 100%; border: none; }

table th { text-align: center !important; }

::-webkit-scrollbar { width: 14px; height: 18px; }

::-webkit-scrollbar-thumb { height: 6px; border: 4px solid rgba(0, 0, 0, 0); background-clip: padding-box; -webkit-border-radius: 7px; background-color: #9D9D9D; -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05); }

::-webkit-scrollbar-button { width: 0; height: 0; display: none; }

::-webkit-scrollbar-corner { background-color: transparent; }

.output_text.output_execute_result pre { white-space: pre-wrap; }

.output_wrapper { overflow: auto; }

.svg-icon.orange { width: 30px; height: 23px; }

.code_cell { margin: 1.5rem 0px !important; }

pre code { font-size: 15px !important; }

/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
.language-python + .language-plaintext { border-left: 1px solid grey; margin-left: 1rem !important; }

[class^="language-"]:not(.language-plaintext) pre, [class^="language-"]:not(.language-plaintext) code { background-color: #323443 !important; color: #f8f8f2; }

.language-python + .language-plaintext code { background-color: white !important; }

.language-python + .language-plaintext pre { background-color: white !important; }

.input_area pre, .input_area div { margin-bottom: 1.0rem !important; margin-top: 1.5rem !important; padding-bottom: 0 !important; padding-top: 0 !important; background: #323443 !important; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: Menlo, Monaco, Consolas, "Lucida Console", Roboto, Ubuntu, monospace; border-radius: 5px; font-size: 105%; }

.output_area pre, .output_area div { margin-bottom: 1rem !important; margin-top: 0rem !important; padding-bottom: 0 !important; padding-top: 0 !important; }

.input_area pre { border-left: 1px solid lightcoral; }

.output_area pre { border-left: 1px solid grey; margin-left: 1rem !important; font-size: 16px; }

.code_cell table { width: auto; }

/* Dracula Theme v1.2.5 https://github.com/zenorocha/dracula-theme Copyright 2016, All rights reserved Code licensed under the MIT license */
.highlight { background: #323443 !important; color: #f8f8f2 !important; }

.highlight pre, .highlight code { background: #323443; color: #f8f8f2; font-size: 110%; }

.highlight .hll, .highlight .s, .highlight .sa, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss { color: #e7997a; }

.highlight .go { color: #44475a; }

.highlight .err, .highlight .g, .highlight .l, .highlight .n, .highlight .x, .highlight .ge, .highlight .gr, .highlight .gh, .highlight .gi, .highlight .gp, .highlight .gs, .highlight .gu, .highlight .gt, .highlight .ld, .highlight .no, .highlight .nd, .highlight .pi, .highlight .ni, .highlight .ne, .highlight .nn, .highlight .nx, .highlight .py, .highlight .w, .highlight .bp { color: #f8f8f2; background-color: #323443 !important; }

.highlight .p { font-weight: bold; color: #66d9ef; }

.highlight .ge { text-decoration: underline; }

.highlight .bp { font-style: italic; }

.highlight .c, .highlight .ch, .highlight .cm, .highlight .cpf, .highlight .cs { color: #6272a4; }

.highlight .c1 { color: gray; }

.highlight .kd, .highlight .kt, .highlight .nb, .highlight .nl, .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm { color: #8be9fd; }

.highlight .kd, .highlight .nb, .highlight .nl, .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm { font-style: italic; }

.highlight .fm, .highlight .na, .highlight .nc, .highlight .nf { color: #ace591; }

.highlight .k, .highlight .o, .highlight .cp, .highlight .kc, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .nt, .highlight .ow { color: #ff79c6; }

.highlight .kc { color: #ace591; }

.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il { color: #bd93f9; }

.highlight .gd { color: #ff5555; }

p code { font-size: 19px; }

/* make non-headings slightly lighter */

/*# sourceMappingURL=main.css.map */