@charset "UTF-8";
/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
.post img { display: block; vertical-align: top; margin-left: auto; margin-right: auto; }

img.emoji { display: inline !important; vertical-align: baseline !important; }

.post figcaption { text-align: center; font-size: .8rem; font-style: italic; color: light-grey; }

.page-content { -webkit-font-smoothing: antialiased !important; text-rendering: optimizeLegibility !important; font-family: "Segoe UI", SegoeUI, Roboto, "Segoe WP", "Helvetica Neue", "Helvetica", "Tahoma", "Arial", sans-serif !important; }

.post-content p, .post-content li { color: #515151; }

.post-link { font-weight: normal; }

.post-title { margin-top: .5rem !important; }

li h3, li h4 { margin-top: .05rem !important; margin-bottom: .05rem !important; }

li .post-meta-description { color: #585858; margin-top: .05rem !important; margin-bottom: .05rem !important; }

details.description[open] summary::after { content: attr(data-open); }

details.description:not([open]) summary::after { content: attr(data-close); }

.notebook-badge-image { border: 0 !important; }

.footnotes { font-size: .9rem !important; }

.footnotes p, .footnotes li { font-size: .9rem !important; }

.anchor-link { opacity: 0; padding-left: 0.375em; \-webkit-text-stroke: 1.75px white; \-webkit-transition: opacity 0.2s ease-in-out 0.1s; \-moz-transition: opacity 0.2s ease-in-out 0.1s; \-ms-transition: opacity 0.2s ease-in-out 0.1s; }

h1:hover .anchor-link, h2:hover .anchor-link, h3:hover .anchor-link, h4:hover .anchor-link, h5:hover .anchor-link, h6:hover .anchor-link { opacity: 1; }

.category-tags { margin-top: .25rem !important; margin-bottom: .25rem !important; font-size: 105%; }

.post-meta-title, .post-meta { margin-top: .25em !important; margin-bottom: .25em !important; font-size: 105%; }

.page-description { margin-top: .5rem !important; margin-bottom: .5rem !important; color: #585858; font-size: 115%; }

.category-tags-icon { font-size: 75% !important; padding-left: 0.375em; opacity: 35%; }

.category-tags-link { color: #bb8181 !important; font-size: 1rem !important; }

.js-search-results { padding-top: 0.2rem; }

.search-results-list-item { padding-bottom: 1rem; }

.search-results-list-item .search-result-title { font-size: 1rem; color: #d9230f; }

.search-result-rel-url { color: silver; }

.search-results-list-item a { display: block; color: #777; }

.search-results-list-item a:hover, .search-results-list-item a:focus { text-decoration: none; }

.search-results-list-item a:hover .search-result-title { text-decoration: underline; }

.search-result-rel-date { color: #6d788a; font-size: 1rem; }

.search-result-preview { color: #777; font-size: 1rem; margin-top: .02rem !important; margin-bottom: .02rem !important; }

.search-result-highlight { color: #2e0137; font-weight: bold; }

table { display: block !important; overflow-x: auto; white-space: nowrap; font-size: 75%; border: none; }

table th { text-align: center !important; }

table td { text-overflow: ellipsis; overflow: hidden; max-width: 15em; }

::-webkit-scrollbar { width: 14px; height: 18px; }

::-webkit-scrollbar-thumb { height: 6px; border: 4px solid rgba(0, 0, 0, 0); background-clip: padding-box; -webkit-border-radius: 7px; background-color: #9D9D9D; -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05); }

::-webkit-scrollbar-button { width: 0; height: 0; display: none; }

::-webkit-scrollbar-corner { background-color: transparent; }

.output_text.output_execute_result pre { white-space: pre-wrap; }

.output_wrapper { overflow: scroll; }

.svg-icon.orange { width: 30px; height: 23px; }

/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
/* Dracula Theme v1.2.5 https://github.com/zenorocha/dracula-theme Copyright 2016, All rights reserved Code licensed under the MIT license */
.highlight { background: #323443 !important; color: #f8f8f2 !important; }

.highlight pre, .highlight code { background: #323443; color: #f8f8f2; }

.highlight .hll, .highlight .s, .highlight .sa, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss { color: #e7997a; }

.highlight .go { color: #44475a; }

.highlight .err, .highlight .g, .highlight .l, .highlight .n, .highlight .x, .highlight .ge, .highlight .gr, .highlight .gh, .highlight .gi, .highlight .gp, .highlight .gs, .highlight .gu, .highlight .gt, .highlight .ld, .highlight .no, .highlight .nd, .highlight .pi, .highlight .ni, .highlight .ne, .highlight .nn, .highlight .nx, .highlight .py, .highlight .w, .highlight .bp { color: #f8f8f2; background-color: #323443 !important; }

.highlight .p { font-weight: bold; color: #50fa7b !important; }

.highlight .ge { text-decoration: underline; }

.highlight .bp { font-style: italic; }

.highlight .c, .highlight .ch, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs { color: #8292d4; font-style: italic; }

.highlight .kd, .highlight .kt, .highlight .nb, .highlight .nl, .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm { color: #7bd9ed; }

.highlight .kd, .highlight .nb, .highlight .nl, .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm { font-style: italic; }

.highlight .fm, .highlight .na, .highlight .nc, .highlight .nf { color: #ace591; }

.highlight .k, .highlight .o, .highlight .cp, .highlight .kc, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .nt, .highlight .ow { color: #ff79c6; }

.highlight .kc { color: #ace591; }

.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il { color: #bd93f9; }

.highlight .gd { color: #ff5555; }

.language-python + .language-plaintext { border-left: 1px solid grey; margin-left: 1rem !important; }

[class^="language-"]:not(.language-plaintext) pre, [class^="language-"]:not(.language-plaintext) code { background-color: #323443; color: #f8f8f2; }

.language-python + .language-plaintext code { background-color: white !important; }

.language-python + .language-plaintext pre { background-color: white !important; }

.input_area pre, .input_area div { margin-bottom: 2rem !important; margin-top: 1.5rem !important; padding-bottom: 0 !important; padding-top: 0 !important; background: #323443; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: Menlo, Monaco, Consolas, "Lucida Console", Roboto, Ubuntu, monospace; border-radius: 5px; font-size: 100%; font-weight: 350; }

/* .output_area pre, .output_area div { margin-bottom: 1rem; margin-top: 1rem; padding-bottom: 0; padding-top: 0; } */
.input_area pre { border-left: 5px solid #323443; }

.output_area pre { border-left: 1px solid grey; margin-left: 1rem !important; }

.code_cell table { width: auto; }

.nb-badges { padding: 3px; /* this */ }

.nb-badges > div { margin: 3px; /* and that, will result in a 10px gap */ }

.output_area pre { border-left: none; overflow-x: auto; white-space: pre-wrap; word-wrap: break-word; }

.ai { border-bottom: none; }

.ai > .label { display: none; }

/* ========================================================================== Fluid Type as seen on https://madebymike.com.au/writing/fluid-type-calc-examples/ ========================================================================== */
/* ========================================================================== List Mixins ========================================================================== */
/* Breakpoint widths */
/* Fluid type */
/* Calculate Modular Scale */
/* small */
/* large */
/* Heading 1 */
/* Heading 2 */
/* Heading 3 */
/* Heading 4 */
/* Heading 5 */
/* Heading 6 */
img { /* Responsive images (ensure images don't scale beyond their parents) */ max-width: 100%; /* part 1: Set a maximum relative to the parent*/ width: auto\9; /* IE7-8 need help adjusting responsive images*/ height: auto; /* part 2: Scale the height according to the width, otherwise you get stretching*/ border-style: none; /* Remove the border on images inside links in IE 10-.*/ vertical-align: middle; -ms-interpolation-mode: bicubic; }

.taxonomy-section { margin-bottom: 2em; padding-bottom: 1em; }

.taxonomy-section:not(:last-child) { border-bottom: solid 1px #444444; }

.taxonomy-section + .taxonomy-section { margin-top: 2em; }

.taxonomy-title { margin-bottom: 0.5em; color: _palette(fg-light); font-family: _font(family); }

.taxonomy-title { font-size: 28px; }

@media screen and (min-width: 320px) { .taxonomy-title { font-size: calc(28px + 4 * ((100vw - 320px) / 960)); } }

@media screen and (min-width: 1280px) { .taxonomy-title { font-size: 32px; } }

.taxonomy-count { color: _palette(fg-light); }

.taxonomy-index { display: grid; grid-column-gap: 2em; grid-template-columns: repeat(2, 1fr); margin: 0; padding: 0; font-family: _font(family); font-size: 0.9em; list-style: none; }

@media (min-width: 1024px) { .taxonomy-index { grid-template-columns: repeat(3, 1fr); } }

.taxonomy-index a { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0.25em 0; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; color: inherit; text-decoration: none; border-bottom: 1px solid #444444; }

.taxonomy-index a:hover { color: _palette(accent); }

.taxonomy-index + .taxonomy-section { margin-top: 3em; }

/* Layout specific adjustments ========================================================================== */
/* Border radius */
@media (min-width: 1024px) { .layout--post .entry-content, .layout--page .entry-content { width: span(14 of 16); } }

.layout--about .entry-wrap { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media (min-width: 768px) { .layout--about .entry-wrap { -ms-flex-wrap: nowrap; flex-wrap: nowrap; } }

@media (min-width: 768px) { .layout--about .entry-content { -ms-flex: 1; flex: 1; } }

.layout--about .entry-sidebar { order: -1; -ms-flex-order: -1; }

@media (min-width: 768px) { .layout--about .entry-sidebar { order: initial; -ms-flex-order: initial; } }

.layout--about .entry-sidebar .author-picture { margin: 0 0 2rem; border-radius: 0.5em; }

@media (min-width: 768px) { .layout--about .entry-sidebar .author-picture { margin: 0 0 0 2rem; } }

@media (min-width: 768px) { .layout--cv .entries .entry-header { width: span(5 of 16); padding-right: gutter(1 of 16); /* remove space after last child element */ } .layout--cv .entries .entry-header > *:last-child { margin-bottom: 0; } }

@media (min-width: 768px) { .layout--cv .entries .entry-content { float: right; width: span(11 of 16); } }

.layout--cv .entry a { color: _palette(accent); }

.layout--cv .entry address { font-style: normal; }

.layout--cv .entry .title, .layout--cv .entry .position, .layout--cv .entry .institution, .layout--cv .entry .language { margin-bottom: 0; }

.layout--cv .entry .date { margin-bottom: 1rem; color: _palette(fg-bold); font-family: _font(family-fixed); font-size: 80%; }

.layout--cv .entry .courses-title, .layout--cv .entry .awarder, .layout--cv .entry .publisher, .layout--cv .entry .level { margin: 1rem 0 0; }

.layout--cv .entry .courses, .layout--cv .entry .keywords { padding-left: 0; list-style: none; }

.layout--cv .taxonomy + .taxonomy { margin-top: 0.5rem; }

.layout--cv .taxonomy .title { display: inline-block; margin-right: 1rem; }

.layout--cv .taxonomy .keywords { display: inline-block; }

/* ========================================================================== Entries (Posts, collection documents, etc.) ========================================================================== */
/* ========================================================================== Fluid Type as seen on https://madebymike.com.au/writing/fluid-type-calc-examples/ ========================================================================== */
/* ========================================================================== List Mixins ========================================================================== */
/* ========================================================================== Clearfix Mixin ========================================================================== */
.entry { margin-bottom: 2rem; padding-bottom: 2rem; }

.entry::after { display: block; clear: both; content: ''; }

.entry:not(:last-child) { border-bottom: 1px solid _palette(border); }

.entry a { color: inherit; }

.entry-title { margin-bottom: 0.5rem; color: _palette(fg-bold); line-height: inherit; }

.entry-title { font-size: 18px; }

@media screen and (min-width: 320px) { .entry-title { font-size: calc(18px + 6 * ((100vw - 320px) / 960)); } }

@media screen and (min-width: 1280px) { .entry-title { font-size: 24px; } }

.entry-title a { text-decoration: none; }

.entry-image { width: 100%; margin-bottom: 1rem; }

.entry-meta, .entry-times { margin-bottom: 1rem; }

.entry-meta, .entry-times { font-size: 12px; }

@media screen and (min-width: 320px) { .entry-meta, .entry-times { font-size: calc(12px + 4 * ((100vw - 320px) / 960)); } }

@media screen and (min-width: 1280px) { .entry-meta, .entry-times { font-size: 16px; } }

.entry-meta ul, .entry-times ul { padding-left: 0; list-style: none; }

@media (max-width: 768px) { .entry-meta ul li, .entry-times ul li { display: inline-block; margin-right: 1.5rem; } }

@media (min-width: 768px) { .entry-meta ul li, .entry-times ul li { padding-bottom: 0.5rem; } }

.entry-meta a, .entry-times a { color: inherit; }

.entry-meta .byline-item:not(:first-child), .entry-times .byline-item:not(:first-child) { margin-left: 1.5rem; }

.entry-meta .icon, .entry-times .icon { margin-right: 0.5em; fill: _palette(accent); }

/* Entry list ========================================================================== */
.entries-list .entry-title { word-wrap: break-word; /* break long words that could overflow */ }

.entries-list .entry-title a:hover { color: _palette(accent); }

.entries-list .entry-excerpt { /* normalize font sizes */ /* remove space after last child element */ }

@media (min-width: 768px) { .entries-list .entry-excerpt { width: span(11 of 16); } }

.entries-list .entry-excerpt > * { font-size: 1em; }

.entries-list .entry-excerpt > *:last-child { margin-bottom: 0; }

.entries-list .entry-content { /* remove space after last child element */ }

@media (min-width: 768px) { .entries-list .entry-content { width: span(11 of 16); } }

.entries-list .entry-content > *:last-child { margin-bottom: 0; }

@media (min-width: 768px) { .entries-list .entry-meta { float: right; width: span(5 of 16 last); padding-left: gutter(1 of 16); } }

.entries-list > .summary > p:first-child { font-size: 1.125em; line-height: 1.625; }

/* Entries Grid Layout ========================================================================== */
.entries-grid { display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); grid-gap: 2em; }

.entries-grid .entry { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-bottom: 0; padding-bottom: 2rem; border-bottom: none; }

.entries-grid .entry-title { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

.entries-grid .entry-title { font-size: 18px; }

@media screen and (min-width: 320px) { .entries-grid .entry-title { font-size: calc(18px + 6 * ((100vw - 320px) / 960)); } }

@media screen and (min-width: 1280px) { .entries-grid .entry-title { font-size: 24px; } }

.entries-grid .entry-excerpt, .entries-grid .entry-content { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; /* remove space after last child element */ }

.entries-grid .entry-excerpt > *:last-child, .entries-grid .entry-content > *:last-child { margin-bottom: 0; }

.entries-grid .entry-excerpt { /* normalize font sizes */ }

.entries-grid .entry-excerpt > * { font-size: 1em; }

.entries-grid .entry-meta { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; margin-bottom: 1em; font-size: 0.75em; }

.entries-grid .entry-meta ul li { display: inline-block; margin-right: 1.5rem; }

.entries-grid .more-link { margin-top: -1em; }

.entries-grid .more-link a { text-decoration: none; }

.entry-content > p:first-child { font-size: 1.125em; line-height: 1.625; }

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 { color: _palette(fg-bold); }

/* Footnotes */
.footnotes { margin: 2rem 0; padding-top: 1rem; border-top: 1px solid _palette(border); font-size: 80%; }

/* Read more link */
.more-link { font-size: 75%; font-weight: bold; text-decoration: none; }

/* ========================================================================== Base elements ========================================================================== */
html { font-size: 13px; }

@media screen and (min-width: 320px) { html { font-size: calc(13px + 4 * ((100vw - 320px) / 960)); } }

@media screen and (min-width: 1280px) { html { font-size: 17px; } }

blockquote, q { color: _palette(fg); font-style: italic; }

blockquote cite, q cite { font-size: 80%; font-style: normal; font-weight: bold; }

blockquote cite::before, q cite::before { padding-right: 0.25rem; content: '\2014'; }

kbd { display: inline-block; margin: 0 0.125em; padding: 0.125em 0.5em; border: 1px solid #cccccc; border-radius: 3px; background-color: #f7f7f7; text-shadow: 0 1px 0 #fff; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 2px #fff; }

h1, h2, h3, h4, h5, h6 { font-family: _font(family-heading); text-rendering: optimizeLegibility; /* enable common ligatures and kerning */ }

h1 { font-size: 20.7385152499px; }

@media screen and (min-width: 320px) { h1 { font-size: calc(20.7385152499px + 24.3992432694 * ((100vw - 320px) / 960)); } }

@media screen and (min-width: 1280px) { h1 { font-size: 45.1377585193px; } }

h2 { font-size: 19.436284208px; }

@media screen and (min-width: 320px) { h2 { font-size: calc(19.436284208px + 15.392233168 * ((100vw - 320px) / 960)); } }

@media screen and (min-width: 1280px) { h2 { font-size: 34.828517376px; } }

h3 { font-size: 18.215824px; }

@media screen and (min-width: 320px) { h3 { font-size: calc(18.215824px + 8.658032 * ((100vw - 320px) / 960)); } }

@media screen and (min-width: 1280px) { h3 { font-size: 26.873856px; } }

h4 { font-size: 17.072px; }

@media screen and (min-width: 320px) { h4 { font-size: calc(17.072px + 3.664 * ((100vw - 320px) / 960)); } }

@media screen and (min-width: 1280px) { h4 { font-size: 20.736px; } }

h5 { font-size: 16px; }

@media screen and (min-width: 320px) { h5 { font-size: calc(16px + 0 * ((100vw - 320px) / 960)); } }

@media screen and (min-width: 1280px) { h5 { font-size: 16px; } }

h6 { font-size: 14.9953139644px; }

@media screen and (min-width: 320px) { h6 { font-size: calc(14.9953139644px + -2.649634952 * ((100vw - 320px) / 960)); } }

@media screen and (min-width: 1280px) { h6 { font-size: 12.3456790123px; } }

dt { font-weight: bold; }

dt:not(:first-child) { margin-top: 1rem; }

dd { margin: 0; }

pre { font-size: 12px; }

@media screen and (min-width: 320px) { pre { font-size: calc(12px + 2 * ((100vw - 320px) / 960)); } }

@media screen and (min-width: 1280px) { pre { font-size: 14px; } }

figcaption { margin: 0.5rem 0; font-size: 80%; }

a { color: _palette(accent); }

a:hover { color: _palette(invert, accent); }

body, input, select, textarea { line-height: 1.5; }

ul, ol { margin: 0 0 0 0; }

li:last-child { margin: 0 0 1.5rem 0; }

li .toc-h2, li .toc-h3, li .toc-h4, li .toc-h5 { margin: 0 0 0 0; }

ul.actions li:last-child, ul.icons li:last-child, ul.links li:last-child { margin: 0 0 0 0; }

p { margin: .9rem 0 .9rem 0; }

.entry-times ul > li { display: inline-block; }

/* CSS stylesheet for displaying xarray objects in jupyterlab. */
:root { --xr-font-color0: var(--jp-content-font-color0, rgba(0, 0, 0, 1)); --xr-font-color2: var(--jp-content-font-color2, rgba(0, 0, 0, 0.54)); --xr-font-color3: var(--jp-content-font-color3, rgba(0, 0, 0, 0.38)); --xr-border-color: var(--jp-border-color2, #e0e0e0); --xr-disabled-color: var(--jp-layout-color3, #bdbdbd); --xr-background-color: var(--jp-layout-color0, white); --xr-background-color-row-even: var(--jp-layout-color1, white); --xr-background-color-row-odd: var(--jp-layout-color2, #eeeeee); }

html[theme=dark], body.vscode-dark { --xr-font-color0: rgba(255, 255, 255, 1); --xr-font-color2: rgba(255, 255, 255, 0.54); --xr-font-color3: rgba(255, 255, 255, 0.38); --xr-border-color: #1F1F1F; --xr-disabled-color: #515151; --xr-background-color: #111111; --xr-background-color-row-even: #111111; --xr-background-color-row-odd: #313131; }

.output_area pre .xr-wrap, .output_area div .xr-wrap { display: block !important; min-width: 300px !important; max-width: 700px !important; }

.output_area pre .xr-text-repr-fallback, .output_area div .xr-text-repr-fallback { /* fallback to plain text repr when CSS is not injected (untrusted notebook) */ display: none !important; }

.output_area pre .xr-header, .output_area div .xr-header { padding-top: 6px !important; padding-bottom: 6px !important; margin-bottom: 4px !important; border-bottom: solid 1px var(--xr-border-color) !important; }

.output_area pre .xr-header > div, .output_area pre .xr-header > ul, .output_area div .xr-header > div, .output_area div .xr-header > ul { display: inline !important; margin-top: 0 !important; margin-bottom: 0 !important; }

.output_area pre .xr-obj-type, .output_area pre .xr-array-name, .output_area div .xr-obj-type, .output_area div .xr-array-name { margin-left: 2px !important; margin-right: 10px !important; }

.output_area pre .xr-obj-type, .output_area div .xr-obj-type { color: var(--xr-font-color2) !important; }

.output_area pre .xr-sections, .output_area div .xr-sections { padding-left: 0 !important; display: grid !important; grid-template-columns: 150px auto auto 1fr 20px 20px !important; line-height: normal !important; }

.output_area pre .xr-section-item, .output_area div .xr-section-item { display: contents !important; }

.output_area pre .xr-section-item input, .output_area div .xr-section-item input { display: none !important; }

.output_area pre .xr-section-item input + label, .output_area div .xr-section-item input + label { color: var(--xr-disabled-color) !important; }

.output_area pre .xr-section-item input:enabled + label, .output_area div .xr-section-item input:enabled + label { cursor: pointer !important; color: var(--xr-font-color2) !important; }

.output_area pre .xr-section-item input:enabled + label:hover, .output_area div .xr-section-item input:enabled + label:hover { color: var(--xr-font-color0) !important; }

.output_area pre .xr-section-summary, .output_area div .xr-section-summary { grid-column: 1 !important; color: var(--xr-font-color2) !important; font-weight: 500 !important; }

.output_area pre .xr-section-summary > span, .output_area div .xr-section-summary > span { display: inline-block !important; padding-left: 0.5em !important; }

.output_area pre .xr-section-summary-in:disabled + label, .output_area div .xr-section-summary-in:disabled + label { color: var(--xr-font-color2) !important; }

.output_area pre .xr-section-summary-in + label:before, .output_area div .xr-section-summary-in + label:before { display: inline-block !important; content: '►' !important; font-size: 11px !important; width: 15px !important; text-align: center !important; }

.output_area pre .xr-section-summary-in:disabled + label:before, .output_area div .xr-section-summary-in:disabled + label:before { color: var(--xr-disabled-color) !important; }

.output_area pre .xr-section-summary-in:checked + label:before, .output_area div .xr-section-summary-in:checked + label:before { content: '▼' !important; }

.output_area pre .xr-section-summary-in:checked + label > span, .output_area div .xr-section-summary-in:checked + label > span { display: none !important; }

.output_area pre .xr-section-summary, .output_area pre .xr-section-inline-details, .output_area div .xr-section-summary, .output_area div .xr-section-inline-details { padding-top: 4px !important; padding-bottom: 4px !important; }

.output_area pre .xr-section-inline-details, .output_area div .xr-section-inline-details { grid-column: 2 / -1 !important; }

.output_area pre .xr-section-details, .output_area div .xr-section-details { display: none !important; grid-column: 1 / -1 !important; margin-bottom: 5px !important; }

.output_area pre .xr-section-summary-in:checked ~ .xr-section-details, .output_area div .xr-section-summary-in:checked ~ .xr-section-details { display: contents !important; }

.output_area pre .xr-array-wrap, .output_area div .xr-array-wrap { grid-column: 1 / -1 !important; display: grid !important; grid-template-columns: 20px auto !important; }

.output_area pre .xr-array-wrap > label, .output_area div .xr-array-wrap > label { grid-column: 1 !important; vertical-align: top !important; }

.output_area pre .xr-preview, .output_area div .xr-preview { color: var(--xr-font-color3) !important; }

.output_area pre .xr-array-preview, .output_area pre .xr-array-data, .output_area div .xr-array-preview, .output_area div .xr-array-data { padding: 0 5px !important; grid-column: 2 !important; }

.output_area pre .xr-array-data, .output_area pre .xr-array-in:checked ~ .xr-array-preview, .output_area div .xr-array-data, .output_area div .xr-array-in:checked ~ .xr-array-preview { display: none !important; }

.output_area pre .xr-array-in:checked ~ .xr-array-data, .output_area pre .xr-array-preview, .output_area div .xr-array-in:checked ~ .xr-array-data, .output_area div .xr-array-preview { display: inline-block !important; }

.output_area pre .xr-dim-list, .output_area div .xr-dim-list { display: inline-block !important; list-style: none !important; padding: 0 !important; margin: 0 !important; }

.output_area pre .xr-dim-list li, .output_area div .xr-dim-list li { display: inline-block !important; padding: 0 !important; margin: 0 !important; }

.output_area pre .xr-dim-list:before, .output_area div .xr-dim-list:before { content: '(' !important; }

.output_area pre .xr-dim-list:after, .output_area div .xr-dim-list:after { content: ')' !important; }

.output_area pre .xr-dim-list li:not(:last-child):after, .output_area div .xr-dim-list li:not(:last-child):after { content: ',' !important; padding-right: 5px !important; }

.output_area pre .xr-has-index, .output_area div .xr-has-index { font-weight: bold !important; }

.output_area pre .xr-var-list, .output_area pre .xr-var-item, .output_area div .xr-var-list, .output_area div .xr-var-item { display: contents !important; }

.output_area pre .xr-var-item > div, .output_area pre .xr-var-item label, .output_area pre .xr-var-item > .xr-var-name span, .output_area div .xr-var-item > div, .output_area div .xr-var-item label, .output_area div .xr-var-item > .xr-var-name span { background-color: var(--xr-background-color-row-even) !important; margin-bottom: 0 !important; }

.output_area pre .xr-var-item > .xr-var-name:hover span, .output_area div .xr-var-item > .xr-var-name:hover span { padding-right: 5px !important; }

.output_area pre .xr-var-list > li:nth-child(odd) > div, .output_area pre .xr-var-list > li:nth-child(odd) > label, .output_area pre .xr-var-list > li:nth-child(odd) > .xr-var-name span, .output_area div .xr-var-list > li:nth-child(odd) > div, .output_area div .xr-var-list > li:nth-child(odd) > label, .output_area div .xr-var-list > li:nth-child(odd) > .xr-var-name span { background-color: var(--xr-background-color-row-odd) !important; }

.output_area pre .xr-var-name, .output_area div .xr-var-name { grid-column: 1 !important; }

.output_area pre .xr-var-dims, .output_area div .xr-var-dims { grid-column: 2 !important; }

.output_area pre .xr-var-dtype, .output_area div .xr-var-dtype { grid-column: 3 !important; text-align: right !important; color: var(--xr-font-color2) !important; }

.output_area pre .xr-var-preview, .output_area div .xr-var-preview { grid-column: 4 !important; }

.output_area pre .xr-var-name, .output_area pre .xr-var-dims, .output_area pre .xr-var-dtype, .output_area pre .xr-preview, .output_area pre .xr-attrs dt, .output_area div .xr-var-name, .output_area div .xr-var-dims, .output_area div .xr-var-dtype, .output_area div .xr-preview, .output_area div .xr-attrs dt { white-space: nowrap !important; overflow: hidden !important; text-overflow: ellipsis !important; padding-right: 10px !important; }

.output_area pre .xr-var-name:hover, .output_area pre .xr-var-dims:hover, .output_area pre .xr-var-dtype:hover, .output_area pre .xr-attrs dt:hover, .output_area div .xr-var-name:hover, .output_area div .xr-var-dims:hover, .output_area div .xr-var-dtype:hover, .output_area div .xr-attrs dt:hover { overflow: visible !important; width: auto !important; z-index: 1 !important; }

.output_area pre .xr-var-attrs, .output_area pre .xr-var-data, .output_area div .xr-var-attrs, .output_area div .xr-var-data { display: none !important; background-color: var(--xr-background-color) !important; padding-bottom: 5px !important; }

.output_area pre .xr-var-attrs-in:checked ~ .xr-var-attrs, .output_area pre .xr-var-data-in:checked ~ .xr-var-data, .output_area div .xr-var-attrs-in:checked ~ .xr-var-attrs, .output_area div .xr-var-data-in:checked ~ .xr-var-data { display: block !important; }

.output_area pre .xr-var-data > table, .output_area div .xr-var-data > table { float: right !important; }

.output_area pre .xr-var-name span, .output_area pre .xr-var-data, .output_area pre .xr-attrs, .output_area div .xr-var-name span, .output_area div .xr-var-data, .output_area div .xr-attrs { padding-left: 25px !important; }

.output_area pre .xr-attrs, .output_area pre .xr-var-attrs, .output_area pre .xr-var-data, .output_area div .xr-attrs, .output_area div .xr-var-attrs, .output_area div .xr-var-data { grid-column: 1 / -1 !important; }

.output_area pre dl.xr-attrs, .output_area div dl.xr-attrs { padding: 0 !important; margin: 0 !important; display: grid !important; grid-template-columns: 125px auto !important; }

.output_area pre .xr-attrs dt, .output_area pre dd, .output_area div .xr-attrs dt, .output_area div dd { padding: 0 !important; margin: 0 !important; float: left !important; padding-right: 10px !important; width: auto !important; }

.output_area pre .xr-attrs dt, .output_area div .xr-attrs dt { font-weight: normal !important; grid-column: 1 !important; }

.output_area pre .xr-attrs dt:hover span, .output_area div .xr-attrs dt:hover span { display: inline-block !important; background: var(--xr-background-color) !important; padding-right: 10px !important; }

.output_area pre .xr-attrs dd, .output_area div .xr-attrs dd { grid-column: 2 !important; white-space: pre-wrap !important; word-break: break-all !important; }

.output_area pre .xr-icon-database, .output_area pre .xr-icon-file-text2, .output_area div .xr-icon-database, .output_area div .xr-icon-file-text2 { display: inline-block !important; vertical-align: middle !important; width: 1em !important; height: 1.5em !important; stroke-width: 0 !important; stroke: currentColor !important; fill: currentColor !important; }

/*# sourceMappingURL=main.css.map */