//Default Overrides For Styles In theme used
// If you wish to override any of this CSS, do so in _sass/minima/custom-styles.css

// edit the look of images, i added borders
.post img {
  display: block;
  vertical-align: top;
  margin-left: auto;
  border: groove;
  margin-right: auto;
}

img.emoji{
      display: inline !important;
      vertical-align: baseline !important;
}

.post figcaption {
  text-align: center;
  font-size: .8rem;
  font-style: italic;
  color: light-grey;
}

.page-content {
        -webkit-font-smoothing: antialiased !important;
        text-rendering: optimizeLegibility !important;
        font-family: "Segoe UI", SegoeUI, Roboto, "Segoe WP", "Helvetica Neue", "Helvetica", "Tahoma", "Arial", sans-serif !important;
}

// make non-headings slightly lighter
.post-content p, .post-content li {
   color: #515151;
}

.post-link{
    font-weight: normal;
}

// make sure the post title doesn't have too much spacing
.post-title { margin-top: .5rem !important; }

li {
  h3, h4 {
  margin-top:.05rem !important;
  margin-bottom:.05rem !important;
  }
  .post-meta-description {
    color: rgb(88, 88, 88);
    margin-top:.05rem !important;
    margin-bottom:.05rem !important;
  }
}

//  Code Folding
 details.description[open] summary::after {
  content: attr(data-open);
}

details.description:not([open]) summary::after {
  content: attr(data-close);
}

// Notebook badges
.notebook-badge-image {
  border:0 !important;
}

// Adjust font size for footnotes.
.footnotes {
  font-size: .9rem !important;
  p, li {
    font-size: .9rem !important;
 }
}

// Make Anchor Links Appear Only on Hover

.anchor-link {
  opacity: 0;
  padding-left: 0.375em;
  \-webkit-text-stroke: 1.75px white;
  \-webkit-transition: opacity 0.2s ease-in-out 0.1s;
  \-moz-transition: opacity 0.2s ease-in-out 0.1s;
  \-ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h1:hover .anchor-link,
h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link,
h5:hover .anchor-link,
h6:hover .anchor-link {
  opacity: 1;
}


// category tags
.category-tags {
  margin-top: .25rem !important;
  margin-bottom: .25rem !important;
  font-size: 105%;
}

// Custom styling for homepage post previews
.post-meta-title, .post-meta{
  margin-top: .25em !important;
  margin-bottom: .25em !important;
  font-size: 105%;
}

.page-description {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
  color: #585858;
  font-size: 115%;
}

// Custom styling for category tags
.category-tags-icon {
  font-size: 75% !important;
  padding-left: 0.375em;
  opacity: 35%;
}
.category-tags-link {
  color:rgb(187, 129, 129) !important;
  font-size: 1rem !important;
}

// Search Page Styles
.js-search-results {padding-top: 0.2rem;}
.search-results-list-item {padding-bottom: 1rem;}
.search-results-list-item .search-result-title {
  font-size: 1rem;
  color: #d9230f;
}
.search-result-rel-url {color: silver;}
.search-results-list-item a {display: block; color: #777;}
.search-results-list-item a:hover, .search-results-list-item a:focus {text-decoration: none;}
.search-results-list-item a:hover .search-result-title {text-decoration: underline;}

.search-result-rel-date {
  color: rgb(109, 120, 138);
  font-size: 1rem;
}

.search-result-preview {
  color: #777;
  font-size: 1rem;
  margin-top:.02rem !important;
  margin-bottom:.02rem !important;
}
.search-result-highlight {
  color: #2e0137;
  font-weight:bold;
}

// Handle Overflow With Table Output

table {
  display: block !important;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 75%;
  border:none;
  th{
    text-align: center! important;
  }
  td{
    text-overflow:ellipsis;
    overflow:hidden;
    max-width: 15em;
  }
}

// customize scrollbars
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 2.5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: #ffffff;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

// Wrap text outputs instead of horizontal scroll
.output_text.output_execute_result {
  pre{
    white-space: pre-wrap;
  }
}


// Handling large charts on mobile devices
// @media only screen and (max-width: 1200px) {
//   /* for mobile phone and tablet devices */
  .output_wrapper{
    overflow: scroll;
  }
// }

.output_wrapper{
  overflow: scroll;
}

.svg-icon.orange{
  width: 30px;
  height: 23px;
}

// flash alerts
.flash {
  position: relative;
  padding: 10px 10px;
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
}

// videos
center {
  // show scrollbar when they overflow
  overflow: auto;
  /* width: -webkit-fill-available; */
}

// massively massive buttons
/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    height: 3rem;
    margin: 10px;
    line-height: 3rem;
    padding: 0 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
    margin-right: 0.5rem;
}

input[type="submit"].icon.solo,
input[type="reset"].icon.solo,
input[type="button"].icon.solo,
button.icon.solo,
.button.icon.solo {
    position: relative;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 4rem;
    text-indent: 4rem;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}

input[type="submit"].icon.solo:before,
input[type="reset"].icon.solo:before,
input[type="button"].icon.solo:before,
button.icon.solo:before,
.button.icon.solo:before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    line-height: inherit;
    font-size: 1.25rem;
    margin-right: 0;
    text-align: center;
    text-indent: 0;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
    display: block;
    margin: 0 0 1rem 0;
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
    font-size: 0.7rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.5rem;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
    font-size: 0.9rem;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 2.75rem;
}

@media screen and (max-width: 980px) {

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        font-size: 0.9rem;
        height: 3.25rem;
        line-height: 3.25rem;
    }

        input[type="submit"].big,
        input[type="reset"].big,
        input[type="button"].big,
        button.big,
        .button.big {
            font-size: 1rem;
            height: 3.75rem;
            line-height: 3.75rem;
        }

}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0.25;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #212931;
    color: #212931 !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    box-shadow: inset 0 0 0 2px #18bfef;
    color: #18bfef !important;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
    background-color: #212931;
    box-shadow: none;
    color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
    background-color: #18bfef;
}