
// styles for images in about and favourites pages;
// handle hover effects
.custom-images-style {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none !important;
    /* overflow: hidden; */
}
.custom-images-style img {
    margin: 10px;
    width: auto;
    display: block;
    border-radius: 5px;
    height: 200px;
    position: relative;
}
.custom-overlay-container-blur {
    position: relative;
}
.custom-overlay-container-blur:hover img {
    border-radius: 15px;
    filter: blur(2px);
    transform: scale(1.25);
    transition: transform .75s, filter 1.5s ease-in-out;
    z-index:500;
}
.custom-overlay-container {
    position: relative;
}
.custom-overlay-container:hover img {
    border-radius: 5px;
    transform: scale(1.35);
    transition: transform .75s, filter 1.5s ease-in-out;
    z-index:500;
}
.custom-overlay-text {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 250px;
    /* background: gray; */
    /* border-radius: 10px;  */
    color: white;
    text-align: left;
    text-shadow:
        -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
        1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
    font-size: 20px;
    padding: 0px 32px;
}
.custom-overlay-container-blur:hover .custom-overlay-text {
    opacity: 1;
    z-index:501;
}
.custom-bold {
    color: white !important;
    font-size: x-large;
    font-weight: 900;
}

// styles for customized details and summary look
.custom-details-card {
margin-top: 20px;
margin-bottom: 50px;
padding: 10px 10px;
border-radius: 10px;
box-shadow: 15px 15px 70px rgba(0, 0, 0, .5);
border-top: 5px solid black;
}
details {
/* border-radius: 5px; */
padding: 20px;
border-left: 5px solid #2ead58;
border-right: 5px solid #d32a2a;
}
summary {
outline: 0;
font-size: 2em;
cursor: pointer;
margin-bottom: 0;
list-style-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.6066 12H1.3934' stroke='%23202842' stroke-width='1.875' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 1.39343V22.6066' stroke='%23202842' stroke-width='1.875' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
summary:hover {
    border-radius: 10px;
    background: #f0f0f0;
    padding: 5px 2px 2px 5px;
    outline: 0;
}
details[open] summary {
    margin-bottom: 10px;
    list-style-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 16.5L1.5 1.5' stroke='%23202842' stroke-width='1.875' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.5 1.5L1.5 16.5' stroke='%23202842' stroke-width='1.875' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    font-weight: bold;
}

// styles for columns, rows and lists in about page
.custom-column {
float: left;
width: 50%;
padding: 10px;
height: 100%
}
@media (min-width:200px) and (max-width:600px) {
.custom-column {width: 100% }
}
.custom-row::after {
content: "";
display: table;
clear: both;
}
.custom-list {
padding-left: 12px;
list-style-position: inside;
}

// styles for github badges; a variant of "custom-images-style";
// the new "custom-images-style" breaks the dimensions of badges
.custom-badges-style {
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
}
.custom-badges-style img {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: block;
    width: auto;
    border-radius: 5px;
}